@import "tailwindcss";

@theme {
    --color-abyss: #071A27;
    --color-deep-ocean: #0B2B3E;
    --color-tidal-blue: #1E5D6D;
    --color-horizon-light: #78C7D3;
    --color-brass-signal: #CE9C5B;
    --color-warm-foam: #F5F3E9;
    
    --font-heading: var(--font-dm-sans);
    --font-sans: var(--font-dm-sans);
    --font-accent: var(--font-cormorant);
    --font-mono: var(--font-ibm-plex);

    --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 1rem));
        }
    }
}

@layer base {
    * {
        box-sizing: border-box;
    }
}
